/* Reset des styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    background-color: #f9f9f9;
}

header {
    background-color: #333;
    padding: 20px;
}

.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}

.toolbar ul {
    list-style: none;
    display: flex;
}

.toolbar li {
    margin-right: 20px;
}

.toolbar a {
    text-decoration: none;
    color: #fff;
}

.hero {
    text-align: center;
    padding: 50px;
    background-color: #007bff;
    color: #fff;
}

.hero h2 {
    font-size: 32px;
    margin-bottom: 10px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 20px;
}

.features {
    text-align: center;
    padding: 50px;
    background-color: #fff;
}

.features h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.features ul {
    list-style: disc;
    margin-left: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Nouveaux styles ajoutés */
.hero {
    background-image: url("image/image.png");
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 100px 0;
}

.hero h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 40px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.contact-form {
    text-align: center;
    padding: 50px;
}

.contact-form h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group textarea {
    height: 150px;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #009688; /* Couleur turquoise */
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #00796b; /* Couleur turquoise plus foncée au survol */
}
